/target/
/src/main/java/com/mario/blumenladen/Rechnung.java1~
/src/main/java/com/mario/blumenladen/Kunde.java2~
/src/main/java/com/mario/blumenladen/Kunde.java1~
/src/main/java/com/mario/blumenladen/Rechnung.java2~